.wrapper{
    height: 400px;
    width: 400px;
    background-color: rgb(241, 237, 237);
    margin-left: 550px;
    margin-top: 200px;
    border: 3px solid black;
    border-radius: 15px;
    color: black;
}
.wrapper h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 20px;
    color: black;
}
.otp-btn{
    width: 180px;
    height: 60px;
    border-radius: 50px;
    background-color: darkblue;
    color: white;

}

