
    .mt-3{
        display: flex;
        justify-content: center;
        color: red;
    }
    .container1{
        background-image: url('../../components/Assets/images/pic1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .error{
        color: white;
    }
    