.container {
    /* position: relative; */
    width: 100%;
    height: 580px;
  }
  
  .blur-background {
    
    background-image: url('C:\Users\hp\OneDrive\Desktop\clone project\frontend\foodfleet\src\components\assets\images\fresh-gourmet-meal-beef-taco-salad-plate-generated-by-ai.jpg');
    filter: blur(2px); 
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
  }
  
  .content {
    position: relative;
    z-index: 1;
    color: whitesmoke;
    margin-top: 80px;
    margin-left: 200px;
  }
  
  .last{
    margin-top: 30px;
    color:black;
    background-color: whitesmoke;
    width: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(196, 24, 24, 0.1);
    background-image: url('C:\Users\hp\OneDrive\Desktop\clone project\frontend\foodfleet\src\components\assets\images\new yellow.jpg');
    background-size: cover;

  }

  /* @media (max-width:780px){
    .container{
      height: 750px;
    }
    .content{
      width: 50%;

    }
    .last{
      margin-left: 20px;
    }
  }
  
  @media (max-width:600px){
    .last{
      margin-left: 10px;
      width: 500px;
      height: 500px;
    }

    .bike{
      width: 200px;
      height: 300px;
    }
  }

  @media (max-width:530px){
    .last{
      margin: 10px;
      width: 400px;
      height: 400px;
    }
    .last{
      margin-left: 100px;
      width: 300px;
      height:300px ;
    }
    .bike{
      width: 150px;
      height: 150px;
    }
  /* } */

  @media (max-width:480px){
    .last{
      margin-right: 30px;
      width: 350px;
      height: 300px;
    }
    .bike{
      height: 150px;
      width: 150px;
      margin-bottom:400px;
    }
    .container{
      height: 900px;
    }
  }
  @media (max-width:400px){
    .container{
      width: 390px;
    }
    .content h2{
      height: 150px;
      display: flex;
      position: relative;
    }
  } 