*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index:1;
}

/* body {
  height: 100vh;
  background-color: #222221;
  display: flex;
  justify-content: center;
  align-items: center;
} */

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 180px; */
  /* padding-top: 0px; */
  list-style: none;
  gap: 2.5rem;
}

.item a {
  text-decoration: none;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #f0f9fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid #f0f9fe;
  overflow: hidden;
}

.item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.item:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 2rem;
  color: hsl(200, 8%, 93%);
  transition: 0.5s ease;
  z-index: 2;
}

.item a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.item:nth-child(1) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
.item:nth-child(2) {
  --bg-color: #63e6be;
}

.item:nth-child(3) {
  --bg-color: #000;
}

.main-cntct{
    background-image: url('assets/product_img/foodiesfeed.com_chocolate-cake-with-a-cherry-on-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;

}

.head{
    padding-left: 50px;
    padding-top: 80px;
    color: white;
}
.fdflt h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    padding-top: 50px;
}
.text_area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caption {
    color: white;
    max-width:  85%;
    font-size: larger;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-left: 170px;
}
.main-cn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
.cards{
  width: 300px;
  height: 250px;
  background-color: #eef2f1;
  color: black;
  border-radius: 5px;
}
.cr-icon{
  color: skyblue;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.cr-contents{
  margin-top: 80px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
