.container {
    /* position: relative; */
    width: 100%;
    height: 500px;
  }
  
  .blur-background {
    
    background-image: url('C:\Users\hp\OneDrive\Desktop\clone project\frontend\foodfleet\src\components\assets\images\fresh-gourmet-meal-beef-taco-salad-plate-generated-by-ai.jpg');
    filter: blur(2px); 
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
  }
  
  .content {
    position: relative;
    z-index: 1;
    color: whitesmoke;
    margin-top: 80px;
    margin-left: 200px;
  }
  
  .last{
    margin-top: 30px;
    color:black;
    background-color: whitesmoke;
    width: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(196, 24, 24, 0.1);
    background-image: url('C:\Users\hp\OneDrive\Desktop\clone project\frontend\foodfleet\src\components\assets\images\new yellow.jpg');
    background-size: cover;

  }
  