.main-hd{
    color: aquamarine;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    }
    .cards{
        width: 250px;
        height: 350px;
        background-color: blueviolet;
        display: flex;
        margin-left: 250px;
        margin-top: 100px;
        border-radius: 5px;
    }
    
    .as1{
        width: 100px;
        height: 100px;
        border-radius: 100%;

        background-color: rgb(24, 23, 26);
        display: flex;
        margin-left: 75px;
        position: absolute;

    }
    .as2{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: rgb(24, 23, 26);
        display: flex;
        margin-left: 400px;
        position: absolute;
        border-radius: 5px;

    }
    .as3{
        width: 250px;
        height: 350px;
        background-color: rgb(31, 74, 161);
        display: flex;
        margin-left: 800px;
        position: absolute;
        border-radius: 5px;

    }